*, *::before, *::after{
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue,arial,sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #014473;
    overflow: hidden;
}
body{
    overscroll-behavior-y: contain; 
}

#app{
    height: 100%;
    background: #f2f2f2;
}

.header{
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    padding:0;
    background: #014473;
    z-index: 50;
}

.header span{
    font-size: 24px;
    line-height: 56px;
    font-weight: 400;
    color: white;
    float: left;
    padding-left: 15px;
}
.header span a{
    text-decoration: none;
    color:#fff;
}

.canvas_container{
    margin: 3px auto;
    width: 90%;
    height: calc((100% - 140px)) ;
}
canvas{
    height: 100%;
    width: 100%;
    border:1px solid #333;
}

.controller{
    width: 90%;
    margin: 0 auto;
}

#playpause{
    background-image: url("../icons/play.png");
    height: 64px;
    width: 64px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3px auto;
}

.progress {
    width: 1px;
    height: 3px;
    background: #014473;
    transition: width .1s linear;
  }